/obj
/.vs
/bin
/Lib.Strings/bin
/Lib.Strings/obj
/Lib.System/bin
/Lib.System/obj
/Tests.Lib.Strings/bin
/Tests.Lib.Strings/obj
/Tests.Lib.Strings/packages
/MainApp/.vs
/MainApp/bin
/MainApp/packages
/MainApp/obj
/WpfApp/SqlOverExcelUI/obj
/WpfApp/SqlOverExcelUI/.vs
/WpfApp/SqlOverExcelUI/bin/Debug/*.pdb
/WpfApp/Lib.MVVM/bin/Debug
/WpfApp/Lib.MVVM/bin/Release
/WpfApp/Lib.MVVM/obj/Debug
/WpfApp/Lib.MVVM/obj/Release
/WpfApp/SqlOverExcelUI/bin/Debug
/MainApp/!Data/~$TwoWorksheets.xlsx
obj
bin
